<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.datasetanalysis.mapper.RDate">
    <resultMap id="mapResult" type="java.util.HashMap">
        <result property="key" column="username"/>
        <result property="value" column="balance" />
    </resultMap>

    <select id="getAllInfo" resultType="cn.edu.guet.datasetanalysis.mapper.RDate">
        SELECT * FROM r_date
    </select>

    <select id="getInfoByUserId" resultType="cn.edu.guet.datasetanalysis.mapper.RDate">
        SELECT * FROM r_date WHERE User_ID = #{userId}
    </select>

    <select id="getInfoByNearlyBuy" resultType="cn.edu.guet.datasetanalysis.mapper.RDate">
        SELECT * FROM r_date WHERE 最近一次购买 = #{nearlyBuy}
    </select>
</mapper>