<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.datasetanalysis.mapper.RFMMapper">
    <resultMap id="mapResult" type="java.util.HashMap">
        <result property="key" column="username"/>
        <result property="value" column="balance" />
    </resultMap>

    <select id="getUserNumGroupByUserType" resultType="java.util.Map">
        SELECT COUNT(*) usernum,rfm.`用户分类` usertype FROM RFM价值分类 rfm
        GROUP BY rfm.`用户分类`
    </select>
</mapper>